
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre
.pyre/

# PyCharm
.idea/

# Mac and Windows OS junk
.DS_Store
Thumbs.db

# EXE and Excel-related files (specific to user context)
#*.exe
#個人用設定.xlsx

個人用設定.csv
.png
.spec
.code-workspace

リソース/
output/
Igor提携.code-workspace
文字コードテスト/
!リソース/AutoPlot.ipf
!リソース/コマンド一時保存.txt
.docx
build/